* {
	box-sizing: border-box;
	border-color: #ccc;
}

body {
	background-color: white;
	color: black;
}

header {
	display: flex;
	justify-content: flex-start;
	align-items: center;
	margin-left: 5px;
}

.block-container {
	display: block;
	padding: 10px 20px;
	background-color: #e5eeec;
	border-radius: 10px;
	margin: 5px;
	margin-bottom: 20px;
}

.form-label {
	display: block;
	margin: 0;
	margin-bottom: 10px;
}

.submit-button {
	display: block;
	width: 100%;
	padding: 7px 0;
	border: 1px solid #ccc;
	border-radius: 5px;
}

.button-red {
	background-color: lightpink;
}

.button-blue {
	background-color: lightblue;
}

.button-red:hover {
	background-color: rgb(190, 134, 143);
}

.button-blue:hover {
	background-color: rgb(134, 167, 178);
}

.submit-button:disabled {
	opacity: 0.5;
	cursor: not-allowed;
}

.form-input {
	display: block;
	margin-bottom: 10px;
}

.input-inliner {
	display: flex;
	flex-wrap: wrap;
	column-gap: 30px;
}

#compressed-text {
	width: 100%;
}

textarea {
	resize: both;
	border-radius: 5px;
}

.full-range-container {
	width: 400px;
	max-width: 100%;
}

.range-label-container {
	display: flex;
	gap: 5px;
}

.range-container {
	display: flex;
}

#range {
	width: 100%;
}

p {
	margin: 0;
	padding-bottom: 10px;
}

/* MARK: Notification */

.notification {
	position: fixed;
	top: -60px;
	left: 0;
	right: 0;
	background-color: #333;
	color: white;
	text-align: center;
	padding: 10px;
	opacity: 0;
	transition: top 0.5s ease-in-out, opacity 0.5s ease-in-out;
	z-index: 2;
}

@keyframes slide-down {
	from {
		top: -60px;
		opacity: 0;
	}

	to {
		top: 0;
		opacity: 1;
	}
}

@keyframes fade-out {
	from {
		top: 0;
		opacity: 1;
	}

	to {
		top: -60px;
		opacity: 0;
	}
}

/* #modal {
	display: none;
	position: fixed;
	z-index: 1;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	overflow: auto;
	background-color: rgba(0, 0, 0, 0.4);
}

.modal-content {
	background-color: #fefefe;
	margin: 15% auto;
	padding: 20px;
	border: 1px solid #888;
	border-radius: 20px;
	width: 80%;
	font-size: 1.2rem;
	font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif
} */

/* MARK: Others */
.text-area-like {
	background-color: white;
	width: 100%;
	min-height: 85px;
	border: 1px solid #ccc;
	padding: 5px;
	/* resize: vertical; */
	overflow: auto;
	white-space: pre-wrap;
	font-family: inherit;
	font-size: inherit;
	line-height: inherit;
}