* {
	box-sizing: border-box;
	border-color: #ccc;
}

body {
	background-color: white;
	color: black;
}

header {
	display: flex;
	justify-content: flex-start;
	align-items: center;
	margin-left: 5px;
}

#ref-button {
	display: block;
	background-color: white;
	border: 1px solid black;
	border-radius: 50%;
	margin-left: 10px;
	font-size: 1.5rem;
	width: 2rem;
	height: 2rem;
}

#ref-button:hover {
	background-color: #e0e0e0;
}

.block-container {
	display: block;
	padding: 10px 20px;
	background-color: #e5eeec;
	border-radius: 10px;
	margin: 5px;
	margin-bottom: 20px;
}

.form-label {
	display: block;
	margin: 0;
	margin-bottom: 10px;
}

#submit-button {
	display: block;
	width: 100%;
	padding: 7px 0;
	border: 1px solid #ccc;
	border-radius: 5px;
}

#submit-button:hover {
	background-color: #e0e0e0;
}

#submit-button:disabled {
	opacity: 0.5;
	cursor: not-allowed;
}

.form-input {
	display: block;
	margin-bottom: 10px;
}

.input-inliner {
	display: flex;
	flex-wrap: wrap;
	column-gap: 30px;
}

#compressed-text {
	width: 100%;
}

textarea {
	resize: vertical;
	border-radius: 5px;
}

.full-range-container {
	width: 400px;
	max-width: 100%;
}

.range-label-container {
	display: flex;
	gap: 5px;
}

.range-container {
	display: flex;
}

#range {
	width: 100%;
}

p {
	margin: 0;
	padding-bottom: 10px;
}

/* MARK: Notification */

.notification {
	position: fixed;
	top: -60px;
	left: 0;
	right: 0;
	background-color: #333;
	color: white;
	text-align: center;
	padding: 10px;
	opacity: 0;
	transition: top 0.5s ease-in-out, opacity 0.5s ease-in-out;
	z-index: 2;
}

@keyframes slide-down {
	from {
		top: -60px;
		opacity: 0;
	}

	to {
		top: 0;
		opacity: 1;
	}
}

@keyframes fade-out {
	from {
		top: 0;
		opacity: 1;
	}

	to {
		top: -60px;
		opacity: 0;
	}
}

#modal {
	display: none;
	position: fixed;
	z-index: 1;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	overflow: auto;
	background-color: rgba(0, 0, 0, 0.4);
}

.modal-content {
	background-color: #fefefe;
	margin: 15% auto;
	padding: 20px;
	border: 1px solid #888;
	border-radius: 20px;
	width: 80%;
	font-size: 1.2rem;
	font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif
}

/* MARK: History */

.toggle-history {
	display: block;
	width: 100%;
	padding: 10px 20px;
	text-align: left;
	background-color: #f0f0f0;
	border: 1px solid #ccc;
	border-radius: 5px;
	cursor: pointer;
	outline: none;
	transition: background-color 0.3s ease;
}

.toggle-history:hover {
	background-color: #e0e0e0;
}

.history-list {
	display: block;
	overflow: hidden;
	border-top: 1px solid #ccc;
	transition: max-height 0.3s ease;
	max-height: 0;
	overflow: auto;
}

.history-item {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 10px 20px;
	border-bottom: 1px solid #ccc;
	transition: background-color 0.3s ease;
	white-space: nowrap;
	flex-wrap: wrap;
}

.history-item:last-child {
	border-bottom: none;
}

.history-item-info {
	flex: 1;
	padding-right: 10px;
}

.history-item-date {
	font-weight: bold;
}

.history-item-text {
	flex: 1;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}

.history-item-download {
	margin-top: 10px;
}

.history-item-download a {
	text-decoration: none;
	color: blue;
}

.expanded {
	max-height: 1000px;
	transition: max-height 0.3s ease;
}

/* MARK: Others */

.file-click-area:hover {
	cursor: pointer;
}

#transition-button {
	margin-left: auto;
	margin-right: 5px;
	padding: 10px 20px;
	font-size: 16px;
	border-radius: 8px;
	background-color: white;
}