body {
	background-color: #d3d3d3;
	color: #000000;
}

.form-container {
	display: block;
	padding: 20px;
	background-color: #d1d8d1;
	border-radius: 10px;
	border: 2px solid #000000;
}

.form-label {
	display: block;
	margin: 10px 0;
}

button {
	display: block;
	width: 100%;
	padding: 7px 0;
}

.form-input {
	margin-bottom: 10px;
}

.notification {
	position: fixed;
	top: -60px;
	left: 0;
	right: 0;
	background-color: #333;
	color: white;
	text-align: center;
	padding: 10px;
	opacity: 0;
	transition: top 0.5s ease-in-out, opacity 0.5s ease-in-out;
	z-index: 2;
}

@keyframes slide-down {
	from {
		top: -60px;
		opacity: 0;
	}

	to {
		top: 0;
		opacity: 1;
	}
}

@keyframes fade-out {
	from {
		top: 0;
		opacity: 1;
	}

	to {
		top: -60px;
		opacity: 0;
	}
}