<!DOCTYPE html>
<html lang="ru">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Суммаризатор текста</title>
    <link rel="stylesheet" href="../static/index.css">
    <script src="../static/index.js"></script>
</head>

<body>
    <!-- Контейнер для уведомлений -->
    <div id="notificationContainer"></div>

    <!-- Блок заголовка -->
    <header>
        <h1>Суммаризатор</h1>
    </header>

    <div class="form-container">
        <form>
            <label class="form-label" for="source_text">Текст для сокращения:</label>
            <textarea class="form-input" style="width: 100%;" id="source_text" rows="10"></textarea>
            <label class="form-label" for="selector">Предпочтительный метод сокращения:</label>
            <select class="form-input" id="selector">
                <option value="vec_slow">Стандартный, O(n^2)</option>
            </select>
            <button type="submit">Отправить</button>
        </form>
    </div>
</body>

</html>